<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Estudios</title>
    <link rel="stylesheet" href="../css/estudios.css">
    <script src="../js/index.js" defer></script>
</head>
<body>
    <div class="load cxy" >
        <img src="../img/load.gif" alt="Nose">
    </div>
    <main class="cxy" >
        <div class="tags df">
            <div class="perfil df">
                <a href="../index.html">Perfil</a>            
                </div>
        </div>
        <div class="main df">
            <a href="./formulario.html" id="Acontac">Contacto</a>
            <a href="../index.html" id="Aperfil">Perfil</a>
            <h1>ESTUDIOS</h1>
            <div class="container df">
                <div class="c-r">
                    <h2>Estudios realizados:</h2>
                    <ol type="I" class="realizado" >
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_flstudio.png);" >Curso informal de <br><span><strong>Fl Studio</strong></span> </li>
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_aftereffects.png);" >Curso informal de <br><span><strong>After Effects</strong></span> </li>
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_html.png);" >Curso informal de <br><span><strong>HTML5</strong></span> </li>
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_css.png);" >Curso informal de <br><span><strong>CSS3</strong></span> </li>
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_js.png);" >Curso informal de <br><span><strong>JAVASCRIPT</strong></span> </li>
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_nodejs.png);" >Curso informal de <br><span><strong>NodeJs</strong></span> </li>
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_blender.png);" >Curso informal de <br><span><strong>Blender</strong></span> </li>
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_sena.png);" >Curso del SENA <br> <span><strong>English Dot <br> Works Beginner</strong></span>  </li>
                    </ol>
                </div>
                <div class="c-p">
                    <h2>Estudios realizando:</h2>
                    <ol type="I" class="realizando">
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_photoshop.png);" >Curso de la Pontificia Universidad Javeriana <br> <span>Photoshop</span>  </li>
                        <li style="background-image: linear-gradient(rgba(15, 11, 34, .60), rgba(15, 11, 34, .60)), url(../img/bg_web.png);" >Tecnico del SENA <br><span>Programador de Software</span> </li>
                    </ol>
                </div>
            </div>
        </div>
        <div class="tags df">
            <div class="contac df">
                <a href="formulario.html">Contacto</a>
            </div>
        </div>
    </main>
</body>
</html>