<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias</title>
    <link rel="stylesheet" href="../css/gracias.css">
    <script src="../js/index.js" defer></script>
</head>
<body>
    <div class="load cxy">
        <img src="../img/load.gif" alt="Nose">
    </div>
    <main class="df cxy" >
        <div class="main df cxy">
            <div class="main-container df cxy">
                <div id="gracias" ></div>
                <a href="../index.html">Volver</a>
            </div>
        </div>
    </main>
</body>
</html>